.form {
  width: 100%;
  padding: 30px;
  background-color: $white;
  border-radius: 10px;
  @include shadow;

  & input {
    padding: 15px 0 12px;
  }

  & textarea {
    resize: none;
    padding: 15px 0;
  }

  & input,
  & textarea {
    width: 75%;
    margin: auto;
    background: none;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid $grey-2;
    color: $black-2;
    transition: all 0.6s;

    &:focus {
      background: none;
      outline: 0;
      border-bottom: 1px solid $blue-1;
      color: $black-2;
      box-shadow: none;

      &::placeholder {
        color: $blue-1;
      }
    }

    &::placeholder {
      color: $grey-2;
    }
  }

  & .not-mail {
    display: none;
    position: absolute;
    top: 0;
    color: #dc3545;
    right: 13%;
    transform-origin: 50% 50%;
  }

  & .btn {
    background: $blue-1;
    border: 0;
    padding: 10px 24px;
    margin-bottom: 10px;
    color: $white;
    transition: 0.4s;
    border-radius: 4px;

    &:hover, &:focus {
      border: 0;
      background: $blue-2;
      color: $white;
    }
  }

  & .form_message {
    margin-top: 10px;
    padding: 12px;
    opacity: 0;
    color: #dc3545;
    transition: 0.2s ease;
  }

  & .error::placeholder {
    color: #dc3545;
    opacity: 1;
  }
}

@keyframes dongle {
  0% {
    transform: translate(0px, 0px);
  }
  10% {
    transform: translate(-10px, 0px);
  }
  20% {
    transform: translate(10px, 0px);
  }
  30% {
    transform: translate(-10px, 0px);
  }
  40% {
    transform: translate(10px, 0px);
  }
  50% {
    transform: translate(-10px, 0px);
  }
  60% {
    transform: translate(10px, 0px);
  }
  70% {
    transform: translate(-10px, 0px);
  }
  80% {
    transform: translate(10px, 0px);
  }
  90% {
    transform: translate(-10px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
