/*--------------------------------------------------------------
# Filter
--------------------------------------------------------------*/

.portfolio-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  background: $white;
  border-radius: 10px;
  padding: 2px 15px;

  & li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px 8px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: $black-2;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;

    &:hover,
    &.filter-active {
      color: $blue-1;
    }

    &:last-child{
      margin-left: 0;
    }
  }
}
