/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 15px;
  color: $light-1;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  z-index: 9999;
  background: $black-1;

  & .author {
    text-align: center;

    & .nav-link {
      font-size: 12px;
      color: $blue-1;
    }
  }

  & .credits {
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
    color: $light-2;
  }
}

@media (max-width: 1199px) {
  #footer {
    position: fixed;
    width: 100%;
    padding-right: 20px 15px;
  }
}
