/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  padding: 0 15px;
  background: $black-1;
  overflow-y: auto;

  & .profile {
    & img {
      margin: 15px auto;
      display: block;
      width: 120px;
      border: 8px solid $darck-blue-2;
    }

    & h1 {
      font-size: 26px;
      margin: 0;
      padding: 0;
      font-weight: 600;
      // -moz-text-align-last: center;
      // text-align-last: center;
      font-family: $font-2;

      & span,
      span:hover {
        color: $white;
        text-decoration: none;
      }

      & img {
        border: 0;
        width: 44px;
        height: 44px;
        margin: 0 10px;

        &:hover {
          animation: rotate-scale-up 0.4s ease-in;
        }
      }
    }

    & .social-links {
      & a {
        font-size: 18px;
        display: inline-block;
        background: $darck-blue-1;
        color: $white;
        line-height: 1;
        padding: 8px 0;
        margin-right: 10px;
        border-radius: 50%;
        text-align: center;
        width: 36px;
        height: 36px;
        transition: 0.3s;

        &:first-child {
          margin-left: 10px;
        }

        &:hover {
          background: $blue-1;
          color: $white;
          text-decoration: none;
        }
      }
    }
  }
}

@media (max-width: 1199px) {
  .header {
    left: -300px;
  }
}

@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(1.5) rotateZ(180deg);
    transform: scale(1.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
