.info {
  padding: 30px;
  background: $white;
  width: 100%;
  border-radius: 10px;
  @include shadow;

  & .contact_info_block {
    text-align: left;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 10px 10px 10px 0;
    @include boxicon;

    .text {
      padding-left: 10px;

      & h6 {
        margin: 5px 0;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}
