/*--------------------------------------------------------------
# Desktop Navigation
--------------------------------------------------------------*/

.nav-menu {
  padding: 30px 0;

  & * {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  & > ul > li {
    position: relative;
    white-space: nowrap;
  }

  & a,
  & a:focus {
    display: flex;
    align-items: center;
    color: $grey-1;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
  }

  & a svg,
  & a:focus svg {
    font-size: 30px;
    padding-right: 8px;
    color: $grey-2 !important;
  }

  & a:hover,
  & a.active,
  & a.active:focus,
  & li:hover > a {
    text-decoration: none;
    color: $white !important;
  }

  & a:hover svg,
  & a.active svg,
  & a.active:focus svg,
  & li:hover > a svg {
    color: $blue-1 !important;
  }
}
