/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
#breadcrumbs {
  padding: 15px 0;
  background: $light-1;
  min-height: auto !important;

  & h2 {
    font-size: 24px;
    font-weight: 400;
  }

  & ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 15px;

    & li:first-child {
      color: $blue-1;
      cursor: pointer;
    }

    & li + li {
      padding-left: 10px;
    }

    & li + li::before {
      content: "/";
      display: inline-block;
      padding-right: 10px;
      color: $darck-blue-1;
      content: "/";
    }
  }
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ul {
    display: block;
  }
  .breadcrumbs ul li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
  background-color: $white;

  & .panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 39vh;
    border-radius: 10px;
    cursor: pointer;
    flex: 0.4;
    margin: 0 5px;
    position: relative;
    transition: flex 0.8s ease;

    &.active {
      flex: 6;
    }
  }

  .portfolio-info {
    padding: 30px;
    border-radius: 10px;
    @include shadow;

    & h3 {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid $light-2;
    }

    & ul {
      list-style: none;
      padding: 0;
      font-size: 15px;

      & li + li {
        margin-top: 10px;
      }

      & .languages span {
        background-color: $blue-3;
        margin-right: 4px;
      }
    }
  }

  & .portfolio-description {
    padding-top: 30px;

    & h2 {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    & p {
      font-size: 16px;
      padding: 0;
    }
  }
}

@media (max-width: 480px) {
  .portfolio-details .panel{
    height: 25vh;
  }
}
