/*--------------------------------------------------------------
# Project
--------------------------------------------------------------*/

.portfolio-item {
  margin-bottom: 30px;

  & .portfolio-wrap {
    @include shadow;
    border-radius: 10px;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &::before {
      content: "";
      background: rgba(0, 0, 0, 0.2);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      transition: all ease-in-out 0.3s;
      z-index: 2;
      opacity: 0;
    }

    &:hover::before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 1;
    }

    & .portfolio-links {
      opacity: 0;
      left: 0;
      right: 0;
      bottom: -60px;
      z-index: 3;
      position: absolute;
      transition: all ease-in-out 0.3s;
      display: flex;
      justify-content: center;

      & span {
        padding: 6px 0;
        font-family: $font-3;
        font-size: 16px;
        text-align: center;
        background: $blue-3;
        transition: 0.3s;
        width: 50%;

        &:first-child {
          color: $white;
        }

        &:last-child {
          color: $blue-1;
          cursor: pointer;
          &:hover {
            background: $blue-1;
            color: $white;
          }
        }
      }

    }

    &:hover .portfolio-links {
      opacity: 1;
      bottom: 0;
    }
  }
}


