/*--------------------------------------------------------------
# Progress Bar
--------------------------------------------------------------*/

.knowledges-icons {
  display: flex;
  justify-content: center;

  & .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .box-icon {
      width: 80px;
      height: 80px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & .icon {
        font-size: 36px;
        margin-top: 3px;
        color: $blue-3;
        line-height: 0;
      }
    }
  }
}

@media (max-width: 1199px) {
  .knowledges-icons .box .box-icon {
    width: 70px;
    height: 70px;
  }
}
