/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/

.resume {
  &-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: $blue-3;
  }

  &-item {
    padding: 0 0 20px 25px;
    margin-top: -2px;
    margin-left: 2px;
    border-left: 2px solid $blue-3;
    position: relative;

    & h4 {
      line-height: 18px;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
      font-family: $font-2;
      color: $blue-1;
      margin-bottom: 10px;
    }

    & h5 {
      font-size: 16px;
      background: #e4edf9;
      padding: 5px 15px;
      display: inline-block;
      font-weight: 600;
      margin-bottom: 10px;
      color: $darck-blue-2;
    }

    & p:first-of-type {
      font-size: 16px;
      font-style: italic;
    }

    & p:last-of-type {
      text-align: justify;
    }

    &:nth-last-child() {
      padding-bottom: 0;
    }

    &::before {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      border-radius: 50px;
      left: -9px;
      top: 0;
      background: $blue-3;
      border: 2px solid $blue-3;
      z-index: 9999;
    }
  }
}
