/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.about {
  & .container {
    & h3 {
      font-weight: 700;
      font-size: 26px;
      color: $blue-3;
      margin-bottom: 25px;
    }

    & img{
      border-radius: 10px;
      @include shadow;
    }

    & ul {
      list-style: none;
      padding: 0;

      & li {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
      }

      & strong {
        margin-right: 10px;
      }

      & svg {
        font-size: 16px;
        margin-right: 5px;
        color: $blue-1;
        line-height: 0;
      }
    }

    & p {
      text-align: justify;
      margin-bottom: 0;
    }
  }
}
