/*--------------------------------------------------------------
# Home
--------------------------------------------------------------*/

#home {
  width: 100%;
  height: 100vh;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(3, 55, 133, 0.4)),
      to(rgba(1, 24, 58, 0.9))
    ),
    url("../../media/hero-bg.jpg") center center;
  background: linear-gradient(rgba(3, 55, 133, 0.4), rgba(1, 24, 58, 0.9)),
    url("../../media/hero-bg.jpg") center center;
  background-size: cover;

  & .home-container {
    position: relative;
    z-index: 2;
    min-width: 300px;
  }

  & h1 {
    margin-bottom: 10px;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    display: block;
    width: 100%;
    color: $white;
  }

  & p {
    color: $white;
    margin-bottom: 50px;
    font-size: 26px;
    font-family: $font-2;

    & span {
      color: $white;
      padding-bottom: 4px;
      letter-spacing: 1px;
      border-bottom: 3px solid $blue-1;
    }
  }
}

@media (min-width: 1024px) {
  #home {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #home h1 {
    font-size: 36px;
    line-height: 36px;
  }
  #home p {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
