/*--------------------------------------------------------------
# Loader
--------------------------------------------------------------*/

#root:not(:empty) + .sk-cube-grid {
  display: none;
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  & .sk-cube {
    width: 33%;
    height: 33%;
    background-color: $blue-1;
    float: left;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  }

  & .sk-cube1 {
    animation-delay: 0.2s;
  }

  & .sk-cube2 {
    animation-delay: 0.3s;
  }

  & .sk-cube3 {
    animation-delay: 0.4s;
  }

  & .sk-cube4 {
    animation-delay: 0.1s;
  }

  & .sk-cube5 {
    animation-delay: 0.2s;
  }

  & .sk-cube6 {
    animation-delay: 0.3s;
  }

  & .sk-cube7 {
    animation-delay: 0s;
  }

  & .sk-cube8 {
    animation-delay: 0.1s;
  }

  & .sk-cube9 {
    animation-delay: 0.2s;
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    transform: scale3D(1, 1, 1);
  }
  35% {
    transform: scale3D(0, 0, 1);
  }
}
