/*--------------------------------------------------------------
# Knowledges
--------------------------------------------------------------*/
.knowledges {
  & .knowledges-item {
    & .Knowledges-content {
      padding: 20px;
      background: $white;
      border-radius: 10px;
      @include shadow;
      margin: 0 0 15px 0;
      transition: box-shadow 0.3s;

      &:hover {
        @include shadow-hover;
      }

      & .knowledges-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 5px;

        & h3 {
          font-size: 22px;
          font-weight: bold;
          margin: 0 0 0 10px;
          color: $black-2;
        }

        @include boxicon;
      }
      & ul {
        padding: 20px 0 0 20px;
      }
    }
  }

  & .curriculum {
    padding: 0 15px 0 15px;

    & img {
      width: 100%;
      border-radius: 10px;
      @include shadow;
      transition: box-shadow 0.3s;

      &:hover {
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
      }
    }

    & p {
      font-style: italic;
      font-size: 14px;
      font-weight: 200;
      text-align: center;
      margin: 25px 0 25px 0;
    }

    a {
      background: $blue-1;
      border: 0;
      padding: 10px 24px;
      margin-bottom: 10px;
      color: $white;
      transition: 0.4s;
      border-radius: 4px;

      &:hover {
        background: $blue-2;
      }
    }
  }
}
