/*--------------------------------------------------------------
# Google fonts
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

/*--------------------------------------------------------------
# Fonts variables
--------------------------------------------------------------*/
$font-1: "Open Sans", sans-serif;
$font-2: "Poppins", sans-serif;
$font-3: "Raleway", sans-serif;

/*--------------------------------------------------------------
# Theme variables
--------------------------------------------------------------*/
$blue-1: #149ddd;
$blue-2: #37b3ed;
$blue-3: #173b6c;
$black-1: #040b14;
$black-2: #272829;
$darck-blue-1: #212431;
$darck-blue-2: #2c2f3f;
$grey-1: #a8a9b4;
$grey-2: #6f7180;
$light-1: #f4f6fd;
$light-2: #eaebf0;
$white: #fff;

/*--------------------------------------------------------------
# Mixins
--------------------------------------------------------------*/
@mixin shadow {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

@mixin shadow-hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
}

@mixin boxicon {
  .box-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background: $blue-1;
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid $blue-1;

    &:hover {
      background-color: $white;

      svg {
        color: $blue-1;
      }
    }

    & svg {
      color: $white;
      font-size: 24px;
    }
  }
}

/*--------------------------------------------------------------
# Settings
--------------------------------------------------------------*/

body {
  font-family: $font-1;
  color: $black-2;
}

a {
  color: $blue-1;
  text-decoration: none;
}

a:hover {
  color: $blue-2;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-3;
}

#main {
  margin-left: 300px;
}

section {
  padding: 60px 0 100px 0;
  overflow: hidden;
  background: $light-2;
  min-height: 100vh;
}

.section-title {
  padding-bottom: 30px;

  & h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: $blue-3;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 100px;
      height: 3px;
      background: $blue-2;
      bottom: 0;
      left: 0;
    }
  }

  & p {
    margin-bottom: 0;
    width: 60%;
  }
}

.CookieConsent {
  padding-left: 300px;
}

@media (max-width: 1199px) {
  #main {
    margin-left: 0;
  }

  .section-title p {
    width: 100%;
    padding: 0 5px;
  }

  .CookieConsent {
    font-size: 13px;
    padding-left: 0;
    margin-bottom: 75px;
  }
}
